.table-row-col-menu-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #2d3748;
    color: #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.table-row-col-menu-button svg {
    width: 16px;
    height: 16px;
}

.table-row-col-menu-button.active,
.table-row-col-menu-button:hover {
    background-color: #4a5568;
}
